[submodule "shell-commons"]
	path = shell-commons
	url = https://github.com/usommerl/shell-commons.git
    branch = master
[submodule "configuration-module-lib"]
	path = configuration-module-lib
	url = https://github.com/usommerl/configuration-module-lib.git
[submodule "bash-preexec"]
	path = bash-preexec
	url = https://github.com/rcaloras/bash-preexec.git
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
