[submodule "shell-commons"]
	path = shell-commons
	url = https://github.com/usommerl/shell-commons.git
	branch = master
[submodule "bash-preexec"]
	path = bash-preexec
	url = https://github.com/rcaloras/bash-preexec.git
	branch = master
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
	branch = master
[submodule "z.lua"]
	path = z.lua
	url = https://github.com/skywind3000/z.lua
	branch = master
